@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: var(--main-font-family);
  background-color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-text-color);
}
