:root {
  --accent-color: #28a745;
  --primary-white-color: #ffffff;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
  --input-text-color: #808080;
  --hero-text-color: #e9e9e9;
  --bcg-color: #e5e5e5;

  --main-font-family: 'Open Sans', sans-serif;

  --indent: 8px;
  --items: 4;
}
