<section class="blog">
  <div class="container">
    <div class="blog-text-wrapper">
      <p class="blog-subtitle">April 16 2020</p>
      <h2 class="blog-title">Blog Post One</h2>
      <p class="blog-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="button" type="button">Read Our Blog</button>
    </div>
    <div class="blog-img-wrapper">
      <img
        class="blog-img"
        src="./images/blog/blog.jpg"
        alt="work decktop"
        width="680"
        height="517"
      />
    </div>
  </div>
</section>
