<section class="cases">
  <div class="container">
    <p class="cases-text">This is what we do</p>
    <h2 class="cases-title">Business Cases</h2>
    <p class="cases-subtitle">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases-list list">
      <li class="cases-list-item">
        <img
          src="./images/cases/cases1.png"
          alt="cases1"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./images/cases/cases2.png"
          alt="cases2"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./images/cases/cases3.png"
          alt="cases3"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./images/cases/cases4.png"
          alt="cases4"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./images/cases/cases5.png"
          alt="cases5"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./images/cases/cases6.png"
          alt="cases6"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./images/cases/cases7.png"
          alt="cases7"
          width="320"
          height="214"
        />
      </li>
      <li class="cases-list-item">
        <img
          src="./images/cases/cases8.png"
          alt="cases8"
          width="320"
          height="214"
        />
      </li>
    </ul>
  </div>
</section>
