<footer class="footer">
  <div class="container">
    <ul class="footer-contacts list">
      <li class="footer-contacts-list list">
        <a
          class="footer-contacts-link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
          >Facebook
        </a>
      </li>

      <li class="footer-contacts-list list">
        <a
          class="footer-contacts-link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Twitter"
          >Twitter
        </a>
      </li>

      <li class="footer-contacts-list list">
        <a
          class="footer-contacts-link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="YouTube"
          >YouTube
        </a>
      </li>

      <li class="footer-contacts-list list">
        <a
          class="footer-contacts-link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn"
          >LinkedIn
        </a>
      </li>
    </ul>

    <p class="footer-copyryght">Copyright &#xA9; 2022 - FinanceLedger</p>
  </div>
</footer>
