<footer class="footer">
  <div class="container">
    <ul class="footer-contacts list">
      <li class="footer-contacts-list list">
        <a
          class="footer-contacts-link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
          ><svg class="footer-contacts__svg" width="31" height="35">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>

      <li class="footer-contacts-list list">
        <a
          class="footer-contacts-link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Twitter"
          ><svg class="footer-contacts__svg" width="31" height="35">
            <use href="./images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>

      <li class="footer-contacts-list list">
        <a
          class="footer-contacts-link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="YouTube"
          ><svg class="footer-contacts__svg" width="31" height="35">
            <use href="./images/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>

      <li class="footer-contacts-list list">
        <a
          class="footer-contacts-link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn"
          ><svg class="footer-contacts__svg" width="31" height="35">
            <use href="./images/sprite.svg#icon-linkidin"></use>
          </svg>
        </a>
      </li>
    </ul>

    <p class="footer-copyryght">Copyright &#xA9; 2022 - FinanceLedger</p>
  </div>
</footer>
