<section class="form">
  <div class="container">
    <img
      class="form-img"
      src="./images/form/form.jpg"
      alt="кequest-сallback"
      width="680"
      height="460"
    />
    <div class="form-wraper">
      <h2 class="form-title">Request Callback</h2>
      <form class="сallback-form">
        <input
          class="form-input"
          name="user-name"
          type="text"
          placeholder="Enter your name"
        />
        <input
          class="form-input"
          name="user-email"
          type="email"
          placeholder="Enter email*"
        />
        <button class="form-button" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
