<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="logo link" href="./index.html"
        ><img class="logo-img" src="./images/logo/logo.svg" alt="logo" />
        <span class="accent">Finance</span> Ledger</a
      >

      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a class="header-nav-link link" href="">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="">About</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="">Cases</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="">Blog</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link link" href="">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
