<section class="solutions">
  <div class="container">
    <div class="solutions-img-wrapper">
      <img
        class="solutions-img"
        src="./images/solutions/solutions.jpg"
        alt="Team"
      />
    </div>

    <div class="solutions-text-wrapper">
      <p class="solutions-subtitle">What you are looking for</p>
      <h2 class="solutions-title">We provide bespoke solutions</h2>
      <p class="solutions-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="solutions-button" type="button">Read More</button>
    </div>
  </div>
</section>
