<section class="section team">
  <div class="container">
    <p class="team-description">Who we are</p>
    <h2 class="section-title">Our Professional Team</h2>
    <p class="team-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list list">
      <li class="team-item">
        <div class="team-cards-wrapper">
          <img
            src="./images/Team/Team-1.jpg"
            alt="team1"
            width="420"
            height="280"
          />

          <div class="overlay">
            <ul class="social-list list">
              <li class="social-item">
                <a class="social-link" href="#">
                  <svg class="social-icon" width="35" height="35">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>

              <li class="social-item">
                <a class="social-link" href="#">
                  <svg class="social-icon" width="35" height="35">
                    <use href="./images/sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>

              <li class="social-item">
                <a class="social-link" href="#">
                  <svg class="social-icon" width="40" height="35">
                    <use href="./images/sprite.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>

              <li class="social-item">
                <a class="social-link" href="#">
                  <svg class="social-icon" width="31" height="35">
                    <use href="./images/sprite.svg#icon-linkidin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div>
          <h3 class="team-title">John Doe</h3>
          <p class="team-position">President</p>
        </div>
      </li>

      <li class="team-item">
        <div class="team-cards-wrapper">
          <img
            src="./images/Team/Team-2.jpg"
            alt="Team2"
            width="420"
            height="280"
          />
          <div class="overlay">
            <ul class="social-list list">
              <li class="social-item">
                <a class="social-link" href="#">
                  <svg class="social-icon" width="35" height="35">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>

              <li class="social-item">
                <a class="social-link" href="#">
                  <svg class="social-icon" width="35" height="35">
                    <use href="./images/sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>

              <li class="social-item">
                <a class="social-link" href="#">
                  <svg class="social-icon" width="40" height="35">
                    <use href="./images/sprite.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>

              <li class="social-item">
                <a class="social-link" href="#">
                  <svg class="social-icon" width="31" height="35">
                    <use href="./images/sprite.svg#icon-linkidin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <h3 class="team-title">Jane Doe</h3>
        <p class="team-position">Vice President</p>
      </li>

      <li class="team-item">
        <div class="team-cards-wrapper">
          <img
            src="./images/Team/Team-3.jpg"
            alt="Team3"
            width="420"
            height="280"
          />
          <div class="overlay">
            <ul class="social-list list">
              <li class="social-item">
                <a class="social-link" href="#">
                  <svg class="social-icon" width="35" height="35">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>

              <li class="social-item">
                <a class="social-link" href="#">
                  <svg class="social-icon" width="35" height="35">
                    <use href="./images/sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>

              <li class="social-item">
                <a class="social-link" href="#">
                  <svg class="social-icon" width="40" height="35">
                    <use href="./images/sprite.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>

              <li class="social-item">
                <a class="social-link" href="#">
                  <svg class="social-icon" width="31" height="35">
                    <use href="./images/sprite.svg#icon-linkidin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <h3 class="team-title">Steve Smith</h3>
        <p class="team-position">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
