<section class="section team">
  <div class="container">
    <p class="team-description">Who we are</p>
    <h2 class="section-title">Our Professional Team</h2>
    <p class="team-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list list">
      <li class="team-item">
        <img
          src="./images/Team/Team-1.jpg"
          alt="team1"
          width="420"
          height="280"
        />
        <h3 class="team-title">John Doe</h3>
        <p class="team-position">President</p>
      </li>
      <li class="team-item">
        <img
          src="./images/Team/Team-2.jpg"
          alt="Team2"
          width="420"
          height="280"
        />
        <h3 class="team-title">Jane Doe</h3>
        <p class="team-position">Vice President</p>
      </li>
      <li class="team-item">
        <img
          src="./images/Team/Team-3.jpg"
          alt="Team3"
          width="420"
          height="280"
        />
        <h3 class="team-title">Steve Smith</h3>
        <p class="team-position">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
