.cases {
  padding-top: 50px;
  padding-bottom: 47px;

  background-color: var(--bcg-color);
}

.cases-text {
  margin-bottom: 15px;

  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--primary-text-color);
}

.cases-title {
  margin-bottom: 34px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: var(--primary-text-color);
}

.cases-subtitle {
  margin-bottom: 39px;

  text-align: center;
  color: var(--primary-text-color);
}

.cases-list {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
}

.cases-list-item {
  flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
  margin: calc(var(--indent) / 2);

  border-radius: 0;
}
