.header {
  background-color: #5e5e5e;
}

.logo {
  font-size: 35px;
  line-height: 1.21;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
}

.logo-img {
  margin-right: 10px;
}

.accent {
  color: var(--accent-color);

  margin: 4px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-nav-link {
  color: var(--secondary-text-color);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-nav-item:not(:last-child) {
  margin-right: 40px;
}
