.header {
  position: fixed;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  &__scroll {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  }

  & .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  &-logo {
    font-size: 35px;
    line-height: 1.21;
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
  }

  &-logo-img {
    margin-right: 10px;
  }

  & .accent {
    color: var(--accent-color);

    margin: 4px;
  }

  &-nav {
    display: flex;
    align-items: center;
  }

  &-nav-list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &-nav-link {
    color: var(--secondary-text-color);
  }

  &-nav-link:hover,
  &-nav-link:focus {
    color: var(--accent-color);
  }

  &-nav-item:not(:last-child) {
    margin-right: 40px;
  }
}
