.hero {
  text-align: center;
  padding-top: 280px;
  padding-bottom: 284px;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/hero/hero.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-title {
    font-weight: 300;
    font-size: 55px;
    line-height: 1.2;
    text-align: center;
    color: var(--hero-text-color);
    margin-bottom: 25px;
  }

  &-text {
    font-size: 22px;
    line-height: 1.67;
    text-align: center;
    color: var(--hero-text-color);
    margin-bottom: 30px;
  }

  & .button {
    font-family: inherit;
    font-size: 18px;
    line-height: 1.56;
    text-align: center;
    color: var(--secondary-text-color);

    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
  }
}
