.solutions {
  & .container {
    display: flex;
    align-items: center;
    padding: 0;
  }

  &-img-wrapper {
    min-width: calc(100% / 2);
  }

  &-text-wrapper {
    min-width: calc(100% / 2);

    height: 460px;
    background-color: var(--accent-color);
    padding: 84px 44px 63px 30px;
  }

  &-subtitle {
    font-size: 20px;
    line-height: 1.65;
    color: var(--secondary-text-color);
  }

  &-title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    color: var(--secondary-text-color);
  }

  &-text {
    color: var(--secondary-text-color);
  }

  &-button {
    @extend .button;

    border: 1px solid var(--secondary-text-color);
    color: var(--secondary-text-color);
    background-color: transparent;
  }
}
